* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:root {
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
  --clr-add-pale: hsl(240, 36%, 96%);
  --radius: 0.8rem;
}

body {
  background-color: var(--clr-pale-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--clr-very-pale-blue);
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  text-align: center;
  gap: 0.5rem;
}

.main-img {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.title-heading {
  font-size: 12px;
  font-weight: 900;
  color: var(--clr-dark-blue);
  margin-bottom: -8px;
}

.title-description {
  color: var(--clr-desaturated-blue);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  margin: 0px 2.5rem;
  opacity: 0.75;
}

.details-card {
  padding: 8px;
  background-color: var(--clr-add-pale);
  border-radius: var(--radius);
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 12px;
}

.card-2 {
  font-size: 1rem;
  font-weight: 700;
  margin-left: -18px;
}

.plan {
  color: var(--clr-dark-blue);
  font-size: 1rem;
  font-weight: 700;
}

.price {
  color: var(--clr-desaturated-blue);
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}

.card-3 {
  text-decoration: underline;
  text-decoration-color: var(--clr-bright-blue);
}

.card-3:hover {
  text-decoration: none;
}

.change {
  color: var(--clr-bright-blue);
  font-size: 1rem;
  font-weight: 700;
}

.change:hover {
  color: var(--clr-bright-blue);
  opacity: 0.8;
}

.blue-btn {
  width: 85%;
  padding: 10px 50px;
  border-radius: var(--radius);
  background-color: var(--clr-bright-blue);
  border: 2px solid var(--clr-bright-blue);
  box-shadow: 0px 6px 12px hsl(245, 82%, 74%);
}

.blue-btn:hover {
  opacity: 0.8;
}

.btn-text {
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
}

.cancel-card {
  margin-top: 16px;
  margin-bottom: 28px;
}

.cancel-text {
  color: var(--clr-desaturated-blue);
  font-size: 14px;
  font-weight: 900;
}

.cancel-text:hover {
  color: var(--clr-dark-blue);
}
